@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Roboto', sans-serif; /* Alterado para Roboto */
  --font-mono: var(--font-geist-mono);
}

.bg-auth {
  background-image: url('/assets/auth-hero.png');
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Roboto', sans-serif; /* Alterado para Roboto */
}

/* Você pode remover esta classe se estiver usando --font-sans */
/* .font-roboto {
  font-family: 'Roboto', sans-serif;
} */